.Contact {
  font-family: bodini;
  background-color: rgb(224, 224, 224);
  color: black;

  
  // border: solid 2px red;

  // .row {
  //   border: solid 2px green;
  // }




  .column {
    // border: solid 2px blue;
    background-color: rgb(255, 255, 255);
    padding: 20px;
 
  }

  .column1{
    background-color: rgb(48, 48, 48);
    padding-left: 20px;
  }
}

//Medium Breakpoint
@media screen and(min-width:600px) {
  .Contact {
    .row1 {
      display: flex;
      max-width: 1200px;
      margin: auto;

      .column {
        // min-height: 300px;
        padding: 20px;
      }

      .column1 {
        flex: 2;
        margin-right: 20px;
      }

      .column2 {
        flex: 4;
      }
    }
  }




  
}


